.JokeList {
    display: flex;
    width: 80%;
    height: 80%;
}

.JokeList-sidebar {
    background: #9575cd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    text-align: center;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px 
    rgba(0, 0, 0, inset 0 0 25px #7e57c2);

    z-index: 2;

}

.JokeList-title{
    font-size: 4rem;
    margin: 2rem;
    color: white;
    font-weight: 300;
    letter-spacing: 0.6rem;

}

.JokeList-title span{
    font-weight: 700;
    letter-spacing: 0;
}

.JokeList-sidebar img {
    width:50%;
    border-radius: 50%;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}

.JokeList-sidebar img:hover{
    animation-name: spaceboots;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
}

.JokeList-jokes{
    height: 90%;
    background: white;
    align-self: center;
    width: 70%;
    overflow: scroll;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);

}

.JokeList-spinner{
    color: white;
    text-align: center;
}

.JokeList-getmore {
    font-size: 1.5rem;
    width: 50%;
    border-radius: 2rem;
    padding: 1rem 2rem;
    color: white;
    margin: 2rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: 0.8s cubic-bezier(0.2,1,0.2,1);
    word-spacing: 0.2rem;
    outline: none;
    background: linear-gradient(
    135deg,
    rgba(179, 229, 252, 1) 0%,
    rgba(179, 229, 252, 1) 50%,
    rgba(240, 98, 146, 1) 50%,
    rgba(240, 98, 146, 1) 100%
    );
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);

}

.JokeList-getmore:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 38px rgba(0, 0, 0, 0.25);
}

@keyframes spaceboots {
	0% { transform: translate(2px, 1px) rotate(0deg); }
	5% { transform: translate(-1px, -2px) rotate(-1deg); }
	10% { transform: translate(-3px, 0px) rotate(1deg); }
    15% { transform: translate(0px, 2px) rotate(0deg); }
	20% { transform: translate(1px, -1px) rotate(1deg); }
	25% { transform: translate(-1px, 2px) rotate(-1deg); }
	30% { transform: translate(-3px, 1px) rotate(0deg); }
	35% { transform: translate(2px, 1px) rotate(-1deg); }
	40% { transform: translate(-1px, -1px) rotate(1deg); }
	45% { transform: translate(2px, 2px) rotate(0deg); }
    50% { transform: translate(1px, -2px) rotate(-1deg); }
    55% { transform: translate(2px, 1px) rotate(0deg); }
	60% { transform: translate(-1px, -2px) rotate(-1deg); }
	65% { transform: translate(-3px, 0px) rotate(1deg); }
    70% { transform: translate(0px, 2px) rotate(0deg); }
	75% { transform: translate(1px, -1px) rotate(1deg); }
	80% { transform: translate(-1px, 2px) rotate(-1deg); }
	85% { transform: translate(-3px, 1px) rotate(0deg); }
	90% { transform: translate(2px, 1px) rotate(-1deg); }
	95% { transform: translate(-1px, -1px) rotate(1deg); }
	100% { transform: translate(2px, 2px) rotate(0deg); }
}



